@page "/about"
@attribute [StreamRendering]

<PageTitle>About</PageTitle>

<h1>За нас</h1>

<div class="container">
    <div class="colored-box">
        <h2 class="title">Кои сме ние?</h2>
        <p class="description">
            “Culpro” е стажантска програма за ученици от 10. до 12. клас, 
            в която те ще бъдат поставени в реалната работна среда на мечтаната им професия.
        </p>
    </div>

    <div class="colored-box">
        <h2 class="title">Връзки и контакти</h2>
        <p class="description">
            Във <a href="https://invite.viber.com/?g2=AQA6FNgpbk7C4FK8MqWIAZFLFMWemp%2BdDcMRNdkA2F3KWXeDjMfvUqJs2C7wuroT" class="custom-link">
            Viber</a> и <a href="https://discord.gg/sqVAzaeqcg" class="custom-link">Discord</a> ще разполагат с постоянна връзка с нас
            (екипът на “Culpro”), както и с останалите участници,ментори и работодатели, 
            от фирмите, в които се е провел стажа. По време на програмата, учениците ще създадат 
            контакти с директорските позиции в едни от най-развитите фирми в България. 
        </p>
    </div>

    <div class="colored-box">
        <h2 class="title">Нашата цел</h2>
        <p class="description">
            Мисията на "Culpro" е да покаже на подрастващите, че в България 
            има бъдеще светло колкото това в чужбина. Така ще помогне със справянето на 
            демографската криза в нашата родина.
        </p>
    </div>
</div>